* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito Sans";
  font-weight: 800;
  background: var(--bgcolor);
}
:root {
  --bgcolor: #fafafa;
  --textcolor: #111517;
  --cardcolor: white;
}
.darc {
  --bgcolor: #202c36;
  --textcolor: white;
  --cardcolor: #2b3844;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 100px;
  background: var(--bgcolor);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
}

.header h3 {
  color: var(--textcolor);
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.theme {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.theme p {
  color: var(--textcolor);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.container {
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.back {
  width: 136px;
  height: 40px;
  text-align: center;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-top: 40px;
  background-color: transparent;
  transition: all 0.5s ease;
  margin-left: -20px;
}
.back:hover {
  background-color: rgb(236, 236, 236);
}

button a {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 30px;
  text-decoration: none;
  color: var(--textcolor);
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
}
.main {
  display: flex;
  align-items: center;
  gap: 120px;
  margin-top: 40px;
}
.description {
  display: flex;
  align-items: center;
  gap: 141px;
}
.title h5 {
  color: var(--textcolor);
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 23px;
}
.title p {
  color: var(--textcolor);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 200% */
}
.title span {
  color: var(--textcolor);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
}
.text p {
  color: var(--textcolor);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 200% */
}
.text span {
  color: var(--textcolor);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
}

.footer {
  margin-top: 68px;
  display: flex;
  align-items: center;
  gap: 15px;
  width: 600px;
  flex-wrap: wrap;
}
.footer h4 {
  color: var(--textcolor);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

#btn_1,
#btn_2,
#btn_3 {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  color: var(--textcolor);
  font-size: 14px;
  font-weight: 300;
}

.loader {
  width: 150px;
  height: 150px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 250px;
}

.loader_cube {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.loader_cube--glowing {
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.3);
}

.loader_cube--color {
  z-index: 1;
  filter: blur(2px);
  background: linear-gradient(135deg, #1afbf0, #da00ff);
  animation: loadtwo 2.5s ease-in-out infinite;
}

@keyframes loadtwo {
  50% {
    transform: rotate(-80deg);
  }
}
.btn {
  padding: 5px 10px;
  cursor: pointer;
  background-color: rgb(86, 144, 225);
  border: 1px solid black;
  transition: all 0.5s;
}
.btn:hover {
  background-color: transparent;
  color: var(--textcolor);
}

@media (max-width: 1204px) {
  .header {
    width: 1024px;
  }
  .container {
    width: 1024px;
  }
  .main {
    width: 800px;
    margin: 0px auto;
    display: block;
  }
  .img img {
    display: block;
    margin: 0px auto;
  }
}
@media (max-width: 1024px) {
  .header {
    width: 1024px;
  }
  .back_main {
    width: 560px;
    margin-bottom: 30px;
  }
  .back {
    width: 560px;
  }
  .container {
    margin: 0px auto;
    width: 560px;
    justify-content: center;
  }
  .main {
    width: 840px;
  }
  .main img {
    margin-left: -0px;
  }

  .description {
    gap: 70px;
    margin-top: 30px;
  }

  .footer h4 {
    margin-top: 20px;
  }
}
@media (max-width: 840px) {
  .header {
    margin: 0px auto;
    width: 560px;
  }
  .main {
    width: 560px;
  }
  .back {
    margin-left: 0px;
  }
}
@media (max-width: 560px) {
  body {
    padding: 0px;
    display: block;
    margin-right: 0px;
  }
  .back {
    width: 400px;
  }
  a {
    width: 400px;
  }
  .back_main {
    width: 400px;
  }
  .container {
    width: 400px;
  }
  .description {
    display: block;
  }
  .img img {
    width: 400px;
  }
  .header {
    width: 400px;
    padding: 30px 16px;
  }
  h2 {
    font-size: 14px;
  }
  .wrapper {
    display: block;
    width: 400px;
    margin: 0px auto;
  }

  .back {
    margin-left: 0px;
  }
  .block {
    margin: 0px auto;
    padding: 0px;
    width: 400px;
  }
  .main {
    margin: 0px auto;
  }
  .main {
    width: 400px;
  }
}
